<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="A Hundred Albums">
    <meta property="og:site_name" content="Salies Experiments">
    <meta property="og:description" content="A hundred albums custom chart.">
    <meta property="og:image" content="https://imgur.com/ms9LeoA.png">
    <title>A Hundred Albums</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="https://saliesbox.com/exp.png">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <img src="img/arrow-down.png" class="minimize">
    <div class="wrapper">
        <% for(var i = 0; i < list.length; i++) {%>
            <div class="album noselect">
                <img id="<%=list[i].id%>" class="noselect" data-mbid="<%=list[i].mbid%>" src="<% if(list[i].cover===true){%>http://coverartarchive.org/release/<%=list[i].mbid%>/front<%}else{%><%=list[i].cover%><% } %>">
            </div>
            <% } %>
    </div>

    <div class="overlay">
        <img src="img/close.png" class="close noselect" onclick='$(".overlay").css("display", "none");;'>
        <div class="album-window">
            <div class="album-data">
                <img src="" class="album-display">
                <div class="info">
                    <section class="title capitalize"></section>
                    <br>
                    <section class="artist capitalize"></section>
                    <br>
                    <section class="tracklist capitalize">
                        <div class="cd1">
                            <div class="song">
                                <span class="number">1</span><span class="name">Música</span><span class="length">2:00</span>
                            </div>
                            <div class="song">
                                <span class="number">1</span><span class="name">Música</span><span class="length">2:00</span>
                            </div>
                        </div>
                        <div class="cd2"></div>
                    </section>
                </div>
            </div>

            <div class="artist-data">
                <img src="" class="artist-display">
                <div class="artist-stuff">
                    <section class="artist-name"></section>
                    <br>
                    <section class="artist-country"></section>
                </div>
                <br>
                <section class="artist-bio"></section>
            </div>

            <div class="back noselect" onclick="artistDisplay(false)">&#8592; Go Back to Album</div>        
        </div>
    </div>

    <div id="player" style="display:none"></div>

    <div class="playback-manager">
        <img src="" class="playback-album-cover">
        <div class="playback-info">
            <span>Now Playing:</span><br>
            <span>Anything</span><br>
            <span>Anybody</span>
        </div>

        <div class="playback-controls">
            <img src="img/backward.png" class="bw" onclick="jumpSong('previous')">
            <img src="img/loading.png" class="pp">
            <img src="img/forward.png" class="fw" onclick="jumpSong('next')">
            <span class="currentTime">0:00</span>
            <input class="realBar bar" type="range" min="0" max="100" value="0">
            <div class="progressBar">
                <div class="progress pb"></div>
            </div>
            <span class="totalTime">0:00</span>
        </div>

        <div class="playback-volume">
            <img src="img/volume.png">
            <input class="realVolume" type="range" min="0" max="100">
            <div class="volume-progressBar">
                <div class="volume-progress pb"></div>
            </div>
        </div>
    </div>

    <script>let a = <%- JSON.stringify(albums) %>, c = <%- JSON.stringify(colors) %>, ats = <%- JSON.stringify(artists) %>, key = <%- JSON.stringify(key) %>;</script>
    <script src="js/work.js"></script>
</body>
</html>