<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%=user%> - Interactive Albums Chart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="https://albums.saliesbox.com">
  <meta property="og:title" content="Interactive Last.fm Chart Generator">
  <meta property="og:site_name" content="SaliesBox">
  <meta property="og:description" content="Create your own, custom Last.fm interactive chart!">
  <meta property="og:image" content="img/meta.png">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700|Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="shortcut icon" type="image/png" href="https://saliesbox.com/exp.png">
</head>

<body>
  <header>
    <div class="h-container">
      <div class="h-title">
        <a href="/">Interactive Last.fm Chart Generator</a>
      </div>
      <div class="nav">
        <a href="https://saliesbox.com">
          <div>Home</div>
        </a>
        <a href="https://github.com/Salies/album-chart">
          <div>Source</div>
        </a>
        <a href="https://github.com/Salies">
          <div>Contact</div>
        </a>
      </div>
    </div>
  </header>

  <div class="log">
    <img src="img/close.png">
    <span></span>
  </div>

  <div class="wrapper">
    <% for(i=0; i < data.length; i++){ 
            if(!data[i].image[data[0].image.length - 1]['#text'] || !data[i].image){
        %>
      <div class="square noselect inactive" style="background-color:#000;color:#fff;" data-name="<%=data[i].name%>" data-author="<%=data[i].artist.name%>">
        <%=data[i].name%>
      </div>
      <% continue;} %>
        <div class="square noselect" style="background-image:url('<%=data[i].image[data[0].image.length - 1]['#text']%>')" data-name="<%=data[i].name%>"
          data-author="<%=data[i].artist.name%>"></div>
        <% } %>
  </div>

  <div class="overlay">
    <div class="circle"></div>
    <div class="showcase">
      <img src="" class="cover-art">
      <div class="info">
        <section class="thead">
          <span></span>
          <span></span>
        </section>
        <section class="tracklist"></section>
      </div>
    </div>
  </div>

  <div id="player" style="display:none"></div>

  <div class="playback-manager">
    <img src="" class="playback-album-cover">
    <div class="playback-info">
      <span>Now Playing:</span>
      <br>
      <span>Anything</span>
      <br>
      <span>Anybody</span>
    </div>

    <div class="playback-controls">
      <img src="img/backward.png" onclick="jSong(0)">
      <img src="img/loading.png" class="pp">
      <img src="img/forward.png" onclick="jSong(1)">
      <span class="currentTime">0:00</span>
      <input class="realBar bar" type="range" min="0" max="100" value="0">
      <div class="progressBar">
        <div class="progress pb"></div>
      </div>
      <span class="totalTime">0:00</span>
    </div>

    <div class="playback-volume">
      <img src="img/volume.png">
      <input class="realVolume" type="range" min="0" max="100">
      <div class="volume-progressBar">
        <div class="volume-progress pb"></div>
      </div>
    </div>

  </div>

  <footer>
    <div style="margin-bottom:-2px;">Made with
      <a href="https://www.youtube.com/watch?v=KF-pdp12lk8" target="_blank">❤</a> and
      <a href="https://www.last.fm/api" target="_blank">hate</a> by Salies</div>
    <div style="display:flex;align-self:center;">
      <a class="github-button" href="https://github.com/salies" aria-label="Follow @salies on GitHub" style="margin-right:5px">Follow @salies</a>
      <a class="github-button" href="https://github.com/salies/album-chart" data-icon="octicon-star" aria-label="Star salies/album-chart on GitHub">Star</a>
    </div>
    <img src="img/arrow-down.png" class="minimize">
  </footer>

  <script src="js/work.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>